<!-- Header -->
<header id="header-container" class="grid">
    <ul id="menu-left">
        <li class="menu-item">
            <a href="/articles/1">Home</a>
        </li>
        <li class="menu-item">
            <a href="">Archive</a>
        </li>
        <!--<li class="menu-item">
            <a href="">Shop</a>
        </li>-->
    </ul>
    <a href="" id="menu-logo">
        <img src="/images/menu-logo.png">
    </a>
    <ul id="menu-right">
        <!--<li class="menu-item">
            <a href="">Events</a>
        </li>-->
        <li class="menu-item">
            <a href="/about">About</a>
        </li>
        <li class="menu-item">
            <a href="">Contact</a>
        </li>
    </ul>
</header>
