<!-- Widget Sidebar -->
<div id="widget-container">
    <div class="widget">
        <div class="widget-header">
            Buy My Book
        </div>
        <a href="">
            <img src="/images/book-img.jpg" id="book-img">
        </a>
    </div>
    <div class="widget">
        <div class="widget-header">
            Social Media
        </div>
        <ul class="link-list">
            <li>
                <a href="">Youtube</a>
            </li>
            <li>
                <a href="">Twitter</a>
            </li>
            <li>
                <a href="">Facebook</a>
            </li>
            <li>
                <a href="">Reddit</a>
            </li>
        </ul>
    </div>
    <div class="widget">
        <div class="widget-header">
            Recent Posts
        </div>
        <ul class="link-list">
            <li>
                <a href="">Fuzzy Logic</a>
            </li>
            <li>
                <a href="">New Media Revolution</a>
            </li>
            <li>
                <a href="">Ten Rules for a Fulfilling Life</a>
            </li>
            <li>
                <a href="">Fighting the Monkey Brain</a>
            </li>
            <li>
                <a href="">Nanoplague!</a>
            </li>
        </ul>
    </div>
</div>
