<!-- About Me -->
<div id="about-container">
  <h1>About</h1>
  <div id="about-who">
    <h2 id="who">Who?</h2>
    <span>Petar Peychev</span>
  </div>
  <div id="about-where">
    <h2 id="where">Where?</h2>
    <span>Nottingham</span>
  </div>
  <div id="about-what">
    <h2 id="what">What?</h2>
    <ul>
      <li>computer science student</li>
      <li>tea addict</li>
      <li>amateur philosopher</li>
      <li>funny person</li>
    </ul>
  </div>
    <img src="/images/suit-car-cropped.jpg" id="about-image">
</div>
